body{
	margin: 0;
	padding: 0;
}
.menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:-5px;
	left: -4%;
	width:50%;
	color:white;
	padding:1.5%;
	margin:501px;
	z-index:4;
	font-family: 'SurceSansPro-Regular';
	font-size: 100% ;
	color:  #000000;
	font-style:  normal;
	text-align:  left;
	line-height:  0.8% ;
	letter-spacing:  0px;
}

nav{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 30%;

}

ul{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

li{	
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
	margin: 20px;
	border-radius: 25px;
	width: 100px;
	height: 25px;
	border: 1px solid #000000;
}

.img-home {
	width: 100%;
	height: 100%;
	border-radius: 1px background transparent;
	top:300%;
	font-family:  'SourceSansPro-Regular';
	font-size: 1.25%;
	color:#ffffff;
	font-style: normal;
	text-align left;
	line-height: 1.07%;
	letter-spacing:  0px;
}
.logo{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 30%;
	height: 30%;

}
.t{
	font-family: 'SurceSansPro-Regular';
	font-size:  0.94 ;
	color:  #000000;
	font-style:  normal;
	text-align:  left;
	line-height:  0.8 ;
	letter-spacing:  0 ;
}
.e{
	font-family:  'SourceSansPro-Regular';
	font-size: 1.25;
	color:#ffffff;
	font-style: normal;
	text-align left;
	line-height: 1.07;
	letter-spacing:  0 ;
}
.r{
	font-family: 'SourceSansPro-Bold';
	font-size: 1.88;
	color: #1f4ecc;
	font-style: normal;
	text-align: left;
	line-height: 1.61;
	letter-spacing:  0;
}
.m{
	font-family:  'SourceSansPro-Regular';
	font-size: 1.25;
	color:  #656565;
	font-style:  normal;
	text-align:  left;
	line-height:  1.07;
	letter-spacing:  0 ;
}
.s{
	font-family: 'SourceSansPro-Bold';
	font-size:  1.88;
	color:  #faeb03;
	font-style:  normal;
	text-align:  left;
	line-height:  1.61;
	letter-spacing:  0;
}
.oque a{
	font-family: 'SourceSansPro-Semibold'
	font-size 1.56;
	color:  #ffffff;
	font-style:  normal;
	text-align:  left;
	line-height: 1.34;
	letter-spacing:  0;
}
.desenv{
	font-family: 'SourceSansPro-Regular'
	font-size 0.88;
	color:  #ffffff;
	font-style:  normal;
	text-align:  left;
	line-height:  0.75 ;
	letter-spacing:  0 ;
}
.Path{
	fill: solid #1f4ecc
	stroke:none;
	border-radius: 0px;
}
.Path{
	fill: solid #f6e903;
	stroke: none;
	border-radius:0px;;
}
.vinte1{
	font-family: 'SourceSansPro-Regular'
	font-size 1.25px;
	height: 5.3%;
	width: 108px;
	border:1px solid white;
	color:  #1f4ecc;
	background:white;
	font-style:  normal;
	text-align: left;
	line-height:  1.07px;
	letter-spacing:  0px;

}